body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(208, 201, 192);
}
header{
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: blue;
    color: white;
    border: 1px solid orange;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    cursor: pointer;
}
header:hover{
    background-color: orange;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
    padding-top: 100px;
}
.images{
    border-radius: 20px;
}
.h4{
    color: rgb(99, 99, 198);
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
.h4:hover{
    color: blue;
}
button{
    color: white;
    background-color: orange;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    margin-left: 100px;

}
button:hover{
    background-color: blue;
}